
.course_button.loader{
-webkit-transition: all 0.3s ease-in-out 0s;
transition: all 0.3s ease-in-out 0s;
}
.course_button.loader:before {
	content:'';
	position: absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.4);
}
.course_button.loader:after {
content: "\e1d1";
color: #FFF;
font-family: 'fonticon';
font-size: 56px;
position: absolute;
top: 0;
left: 35%;
line-height: 1;
-webkit-animation: scaleout 1.0s infinite ease-in-out;
animation: scaleout 1.0s infinite ease-in-out;
}


@-webkit-keyframes scaleout {
  0% { -webkit-transform: scale(0.0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes scaleout {
  0% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 100% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}


.dash-widget.mycred_points{
  background:#33b9f9;
}

.credsubscription{display: none;}